:root {
    --main-color: #FF6868
}

.navbar {
    background-color: var(--main-color) ;
}

.header {
    color: var(--main-color)
}

h2 {
    margin: 1em 0;
}

.hero {
    background: url("hero.png"), no-repeat;
    background-position-x: center !important;
    background-size: cover;
}

.tech-logo {
    height: 100% !important; 
    padding: 3em !important;
}
