:root {
    --main-color: #FF6868
}

.navbar {
    background-color: var(--main-color) ;
}

.header {
    color: var(--main-color)
}

.hero {
    background: url("hero.png"), no-repeat;
    background-position-x: center !important;
    background-size: cover;
}